.dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  .light-mode {
    background-color: #fff;
    color: #333;
  }

  .hover:hover {
    background-color: #f0f0f0;
    color: #333;
  }
  .hover1:hover {
    background-color: #0a0a0a;
    color: #333;
  }

  /* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
